[build-system]
requires = ["uv_build>=0.9.10,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
  "pre-commit>=4.2.0",
  "pytest>=8.4.0",
  "pytest-asyncio>=1.0.0",
  "pytest-cov>=6.1.1",
  "httpx>=0.25.0",
  "hatch>=1.14.1",
  "pyyaml>=6.0.2",
  "packaging>=21.0",
  "pytest-xdist>=3.8.0",
  "pytest-timeout>=2.4.0",
  "structlog>=25.5.0",
  "starlette>=0.39.0",
  "uvicorn>=0.32.0",
  "time-machine>=2.19.0,<3.0.0"
]

[project]
name = "llama-index-workflows"
version = "2.11.6"
description = "An event-driven, async-first, step-based way to control the execution flow of AI applications like Agents."
readme = "README.md"
license = "MIT"
requires-python = ">=3.9"
dependencies = [
  "eval-type-backport>=0.2.2 ; python_full_version < '3.10'",
  "llama-index-instrumentation>=0.1.0",
  "pydantic>=2.11.5",
  "typing-extensions>=4.6.0"
]

[project.optional-dependencies]
server = ["starlette>=0.39.0", "uvicorn>=0.32.0"]
client = ["httpx>=0.28.1,<1"]

[tool.hatch.envs.server]
features = ["server"]
dependencies = ["pyyaml>=6.0.2"]

[tool.hatch.envs.server.scripts]
openapi = "python -m workflows.server.server --output openapi.json"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["tests"]

[tool.uv.build-backend]
module-name = "workflows"
