[build-system]
requires = ["uv_build>=0.9.10,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
  "pytest>=8.4.2",
  "pytest-cov>=7.0.0",
  "pytest-timeout>=2.4.0",
  "pytest-xdist>=3.8.0",
  "ty>=0.0.1,<0.0.9"
]

[project]
name = "workflows-dev"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
  {name = "Adrian Lyjak", email = "adrianlyjak@gmail.com"}
]
requires-python = ">=3.9"
dependencies = [
  "click>=8.1.7",
  "httpx>=0.28.1",
  "packaging>=24.1",
  "pydantic>=2.12.3",
  "rich>=14.0.0",
  "tomlkit>=0.13.3",
  "tomli>=2.3.0"
]

[project.scripts]
workflows-dev = "workflows_dev:main"
wftest = "workflows_dev:pytest_main"

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-nauto --timeout=10"
