name: Bump llama-index-core

on:
  repository_dispatch:
    types: [llama-index-core-release]
  workflow_dispatch:

jobs:
  bump-dependency:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6

      - run: uv lock --upgrade-package llama-index-core

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "chore: bump llama-index-core"
          branch: bump-llama-index-core
          delete-branch: true
          title: "chore: bump llama-index-core"
          labels: |
            dependencies
            automated
